<div class="container">
  <table >
    <thead>
      <tr>
        <th>WEST | EAST</th>
        <th>Altitude</th>
        <th>Flight code number</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
		</tbody>
  </table>
</div>