/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {  
    margin: 0;
    background:url("assets/data/pexels-photo-194987.jpeg");
    background-size: 100%;
}