<div class="container">
    <table >
      <thead>
        <tr>
          <th>WEST | EAST</th>
          <th>Altitude</th>
          <th>Flight code number</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let airplane of airplaneList" [routerLink]="['airplane', airplane.id]" a>
            <td><img [ngClass]="{'icon-left': airplane.Brng<180, 'icon-right': airplane.Brng>180}" src="assets/data/airplane-r.svg"></td>
            <td>{{ airplane  }}</td>
            <td>{{  airplaneList  }}</td>
          </tr>
		</tbody>
    </table>
  </div>